/* VARIABLES DE THÈME BOOTSTRAP (COULEURS + STYLES GLOBAUX) */
:root,
[data-bs-theme=light] {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 13, 110, 253;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 33, 37, 41;
  --bs-primary-text-emphasis: #052c65;
  --bs-secondary-text-emphasis: #2b2f32;
  --bs-success-text-emphasis: #0a3622;
  --bs-info-text-emphasis: #055160;
  --bs-warning-text-emphasis: #664d03;
  --bs-danger-text-emphasis: #58151c;
  --bs-light-text-emphasis: #495057;
  --bs-dark-text-emphasis: #495057;
  --bs-primary-bg-subtle: #cfe2ff;
  --bs-secondary-bg-subtle: #e2e3e5;
  --bs-success-bg-subtle: #d1e7dd;
  --bs-info-bg-subtle: #cff4fc;
  --bs-warning-bg-subtle: #fff3cd;
  --bs-danger-bg-subtle: #f8d7da;
  --bs-light-bg-subtle: #fcfcfd;
  --bs-dark-bg-subtle: #ced4da;
  --bs-primary-border-subtle: #9ec5fe;
  --bs-secondary-border-subtle: #c4c8cb;
  --bs-success-border-subtle: #a3cfbb;
  --bs-info-border-subtle: #9eeaf9;
  --bs-warning-border-subtle: #ffe69c;
  --bs-danger-border-subtle: #f1aeb5;
  --bs-light-border-subtle: #e9ecef;
  --bs-dark-border-subtle: #adb5bd;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.5;
  --bs-body-color: #212529;
  --bs-body-color-rgb: 33, 37, 41;
  --bs-body-bg: #fff;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-emphasis-color: #000;
  --bs-emphasis-color-rgb: 0, 0, 0;
  --bs-secondary-color: rgba(33, 37, 41, 0.75);
  --bs-secondary-color-rgb: 33, 37, 41;
  --bs-secondary-bg: #e9ecef;
  --bs-secondary-bg-rgb: 233, 236, 239;
  --bs-tertiary-color: rgba(33, 37, 41, 0.5);
  --bs-tertiary-color-rgb: 33, 37, 41;
  --bs-tertiary-bg: #f8f9fa;
  --bs-tertiary-bg-rgb: 248, 249, 250;
  --bs-heading-color: inherit;
  --bs-link-color: #0d6efd;
  --bs-link-color-rgb: 13, 110, 253;
  --bs-link-decoration: underline;
  --bs-link-hover-color: #0a58ca;
  --bs-link-hover-color-rgb: 10, 88, 202;
  --bs-code-color: #d63384;
  --bs-highlight-color: #212529;
  --bs-highlight-bg: #fff3cd;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-xxl: 2rem;
  --bs-border-radius-2xl: var(--bs-border-radius-xxl);
  --bs-border-radius-pill: 50rem;
  --bs-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  --bs-box-shadow-sm: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  --bs-box-shadow-lg: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  --bs-focus-ring-width: 0.25rem;
  --bs-focus-ring-opacity: 0.25;
  --bs-focus-ring-color: rgba(13, 110, 253, 0.25);
  --bs-form-valid-color: #198754;
  --bs-form-valid-border-color: #198754;
  --bs-form-invalid-color: #dc3545;
  --bs-form-invalid-border-color: #dc3545;
}

[data-bs-theme=dark] {
  color-scheme: dark;
  --bs-body-color: #dee2e6;
  --bs-body-color-rgb: 222, 226, 230;
  --bs-body-bg: #212529;
  --bs-body-bg-rgb: 33, 37, 41;
  --bs-emphasis-color: #fff;
  --bs-emphasis-color-rgb: 255, 255, 255;
  --bs-secondary-color: rgba(222, 226, 230, 0.75);
  --bs-secondary-color-rgb: 222, 226, 230;
  --bs-secondary-bg: #343a40;
  --bs-secondary-bg-rgb: 52, 58, 64;
  --bs-tertiary-color: rgba(222, 226, 230, 0.5);
  --bs-tertiary-color-rgb: 222, 226, 230;
  --bs-tertiary-bg: #2b3035;
  --bs-tertiary-bg-rgb: 43, 48, 53;
  --bs-primary-text-emphasis: #6ea8fe;
  --bs-secondary-text-emphasis: #a7acb1;
  --bs-success-text-emphasis: #75b798;
  --bs-info-text-emphasis: #6edff6;
  --bs-warning-text-emphasis: #ffda6a;
  --bs-danger-text-emphasis: #ea868f;
  --bs-light-text-emphasis: #f8f9fa;
  --bs-dark-text-emphasis: #dee2e6;
  --bs-primary-bg-subtle: #031633;
  --bs-secondary-bg-subtle: #161719;
  --bs-success-bg-subtle: #051b11;
  --bs-info-bg-subtle: #032830;
  --bs-warning-bg-subtle: #332701;
  --bs-danger-bg-subtle: #2c0b0e;
  --bs-light-bg-subtle: #343a40;
  --bs-dark-bg-subtle: #1a1d20;
  --bs-primary-border-subtle: #084298;
  --bs-secondary-border-subtle: #41464b;
  --bs-success-border-subtle: #0f5132;
  --bs-info-border-subtle: #087990;
  --bs-warning-border-subtle: #997404;
  --bs-danger-border-subtle: #842029;
  --bs-light-border-subtle: #495057;
  --bs-dark-border-subtle: #343a40;
  --bs-heading-color: inherit;
  --bs-link-color: #6ea8fe;
  --bs-link-hover-color: #8bb9fe;
  --bs-link-color-rgb: 110, 168, 254;
  --bs-link-hover-color-rgb: 139, 185, 254;
  --bs-code-color: #e685b5;
  --bs-highlight-color: #dee2e6;
  --bs-highlight-bg: #664d03;
  --bs-border-color: #495057;
  --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
  --bs-form-valid-color: #75b798;
  --bs-form-valid-border-color: #75b798;
  --bs-form-invalid-color: #ea868f;
  --bs-form-invalid-border-color: #ea868f;
}

/* FONT " EUROSTILE " */
/* NOTE: PAS TOUTES SONT IMPORTÉES */

/* POUR TEXTE NORMAL */
@font-face {
    font-family: 'Eurostile';
    src: url('../../assets/fonts/eurostile/fonnts.com-Eurostile.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* POUR TITRES PRINCIPAUX */
@font-face {
    font-family: 'Eurostile';
    src: url('../../assets/fonts/eurostile/fonnts.com-Eurostile_Bold.otf') format('opentype');
    font-weight: 700;
    font-style: normal;
}

/* POUR SOUS-TITRES */
@font-face {
    font-family: 'Eurostile';
    src: url('../../assets/fonts/eurostile/fonnts.com-Eurostile_Medium.otf') format('opentype');
    font-weight: 500;
    font-style: normal;
}

/* POUR SOUS-TITRES SECONDAIRES */
@font-face {
    font-family: 'Eurostile Condensed';
    src: url('../../assets/fonts/eurostile/fonnts.com-Eurostile_Cond.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

/* ITALIQUE RÉGULAIRE */
@font-face {
    font-family: 'Eurostile';
    src: url('../../assets/fonts/eurostile/fonnts.com-Eurostile_Regular_Oblique.otf') format('opentype');
    font-weight: 400;
    font-style: italic;
}

/* ITALIQUE GRAS */
@font-face {
    font-family: 'Eurostile';
    src: url('../../assets/fonts/eurostile/fonnts.com-Eurostile_Bold_Oblique.otf') format('opentype');
    font-weight: 700;
    font-style: italic;
}

/* STYLES GLOBAUX */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Eurostile', sans-serif;
}

/* BACKGROUND - INTERFACE */
body {
  background-image: url('../../assets/img/arriere_plan_visere_futuriste.jpg');
  background-size: cover;      
  background-position: center; 
  background-repeat: no-repeat;
  height: 100vh;
  color: #fff;
}


/* CONTENEUR PRINCIPAL EN GRID */
.container {
  display: grid;
  grid-template-columns: 8fr 1fr 8fr; 
  gap: 5px;
  padding: 90px;
  height: 100%;
}

/* COLONNES - WIREFRAME */
.column {
  display: grid;
  grid-template-rows: repeat(3, auto); 
  gap: 5px; 
  justify-items: center; 
  align-items: center;  
}

/* PLACEHOLDERS - WIREFRAME */
.placeholder {
  width: 300px;       
  height: 200px;      
  border: 2px solid #fff; 
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  color: #fff;
}

/* COLONNE AU CENTRE */
.column.center .placeholder {
  width: 400px; 
  height: 200px; 
}

/* COLONNE AU CENTRE - HAUTEUR DE PLACEHOLDERS SPÉCIFIQUES */

/* PLACEHOLDER - HAUT */
.column.center .placeholder:nth-child(1) { 
  height: 90px; 
}

/* PLACEHOLDER - CENTRE */
.column.center .placeholder:nth-child(2) { 
  height: 360px; 
}

/* PLACEHOLDER - BAS */
.column.center .placeholder:nth-child(3) { 
  height: 150px; 
}

/* CARTE MAPLIBRE - GLOBE 3D ANIMÉ */
#carte {
  width: 400px;
  height: 360px;
  border-radius: 10px;
}

/* ZDOG : 3 CANVAS ALIGNÉS DANS LE PLACEHOLDER */
.placeholder.zdog {
  border: none;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  overflow: hidden;      
  position: relative;
}

/* TAILLE DES 3 ZDOG */
.zdog-item {
  width: 100px;
  height: 100px;
  background: transparent; 
  overflow: hidden;
}

/* TAILLE DES 2 PREMIERS ZDOG (PLUS PETITS) */
#zdog1, #zdog2 {
  width: 90px;
  height: 90px;
}

/* TAILLE DU 3E ZDOG (PLUS GRAND) */
#zdog3 {
  width: 120px;
  height: 120px;
}

/* IMAGE DANS LE PLACEHOLDER DE VFX */
.placeholder.vfx {
    position: relative;
    background: transparent; 
    overflow: hidden;
}

/* TAILLE DE L'IMAGE DANS LE PLACEHOLDER VFX */ 
.vfx-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}

/* ===== HUD - ICONES ===== */

/* CONTENEUR DES ICÔNES */
.hud-icons {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly; /* Espacement égal entre les icônes */
  align-items: center;           /* Alignement vertical centré */
}

/* BOUTONS ICÔNES */
.hud-btn {
  all: unset;                  
  cursor: pointer;             
  font-size: 40px;             
  color: #25e7ff;              
  display: flex;
  align-items: center;
  justify-content: center;

  /* TRANSITIONS POUR ANIMATION FLUIDE */
  transition:
    transform 0.2s ease,
    filter 0.2s ease,
    color 0.2s ease;

  /* ANIMATION PULSE PERMANENTE */
  animation: hud-pulse 2.5s infinite;
}

/* EFFET GLOW PAR DÉFAUT */
.hud-btn i {
  filter:
    drop-shadow(0 0 5px rgba(37,231,255,0.7))
    drop-shadow(0 0 12px rgba(37,231,255,0.4));
}

/* EFFET AU SURVOL DES ICÔNES */
.hud-btn:hover {
  transform: scale(1.18);    
}

/* EFFET GLOW INTENSIFIÉ AU SURVOL DES ICÔNES */
.hud-btn:hover i {
  color: #8df7ff;
  
  filter:
    drop-shadow(0 0 8px rgba(141,247,255,1))
    drop-shadow(0 0 18px rgba(37,231,255,0.8))
    drop-shadow(0 0 30px rgba(37,231,255,0.6));
}

/* ANIMATION EFFET “RESPIRATION” DES ICÔNES */
@keyframes hud-pulse {
  0%   { opacity: 0.85; }
  50%  { opacity: 1; }
  100% { opacity: 0.85; }
}

/* ===== PLACEHOLDER “ICONES” — HUD CADRE NÉON ===== */

/* STYLE GÉNÉRAL DU CADRE */
.placeholder.icons {
  border: 2px solid #25e7ff;       
  border-radius: 18px;            
  background: transparent;
  transform: translateX(-3px);
  transform: translateY(16px);

  /* GLOW LUMIEUX INTERNE ET EXTERNE */
  box-shadow:
    0 0 8px rgba(37,231,255,0.6),
    0 0 18px rgba(37,231,255,0.35),
    inset 0 0 10px rgba(37,231,255,0.25);

  /* ANIMATION DE PULSATION */
  animation: hud-border-pulse 2.8s infinite ease-in-out;
}

/* ANIMATION DE PULSATION DU CADRE NÉON */
@keyframes hud-border-pulse {
  0% {
    box-shadow:
      0 0 6px rgba(37,231,255,0.4),
      0 0 14px rgba(37,231,255,0.25),
      inset 0 0 8px rgba(37,231,255,0.15);
  }

  50% {
    box-shadow:
      0 0 10px rgba(37,231,255,0.9),
      0 0 24px rgba(37,231,255,0.6),
      inset 0 0 14px rgba(37,231,255,0.4);
  }

  100% {
    box-shadow:
      0 0 6px rgba(37,231,255,0.4),
      0 0 14px rgba(37,231,255,0.25),
      inset 0 0 8px rgba(37,231,255,0.15);
  }
}

/* ===== PLACEHOLDER “TEXTE TYPEDJS - HUD” ===== */

/* STYLE GÉNÉRAL DU PLACEHOLDER */
.hud-text {
  width: 100%;
  height: 100%;
  padding: 15px 20px;

  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: #25e7ff; 
  font-family: 'Eurostile', sans-serif;
}

/* TITRE PRINCIPAL = "MONTRÉAL, QUÉBEC" */
.hud-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #8df7ff;

  text-shadow:
    0 0 6px rgba(141,247,255,0.8),
    0 0 14px rgba(37,231,255,0.6);
}

/* TEXTE ANIMÉ (DONNÉES) PAR TYPEDJS */
#typed-info {
  font-size: 15px;
  line-height: 1.6;
  font-weight: 400;
  white-space: pre-line;

  color: #25e7ff;

  text-shadow:
    0 0 4px rgba(37,231,255,0.6),
    0 0 12px rgba(37,231,255,0.4);
}

/* STYLE SPÉCIFIQUE POUR LE PLACEHOLDER DU TEXTE ANIMÉ */
.placeholder.title {
  align-items: flex-start; 
  border: none;
}

.hud-text {
  width: 100%;
  height: auto;
}

/* ===== LIMITATION DU CURSOR HUD DANS LE PLACEHOLDER DU TYPEDJS ===== */

/* ÇA LIMITE LA HAUTEUR DU TEXTE ANIMÉ */
#typed-info {
  max-height: 120px;   
  overflow: hidden;   
}

/* STYLE DU CURSEUR */
.typed-cursor {
  display: inline-block;
  line-height: 1;
}

/* CACHE LES CLONES INUTILES DU CURSEUR */
#typed-info .typed-cursor:not(:first-of-type) {
  display: none;
}







